
@{
    ViewBag.Title = "About";
}


<h1>About</h1>
<p>
    This is a sample web site built with ASP.NET MVC.
</p>
<img src="http://images2.fanpop.com/images/photos/5300000/Cat-Collection-domestic-animals-5353800-400-354.jpg" alt="Cats">

